In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
#read and split data
path = "/home/kishen/documents/c++_projects/wine_classifier/data/wine_data_shuffled.csv"

df = pd.read_csv(path, header=None)
display(df.shape)
df.head()

(178, 13)

   0      1     2     3     4    5     6     7     8     9     10    11    12
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

In [3]:
#split data without shuffling - must match C++ implementation
from sklearn.model_selection import train_test_split

x = df.iloc[:, 1:]
y = df.iloc[:,0]

X_train, X_test, y_train, y_test = train_test_split(x, y, shuffle = False, test_size=.2)
X_train

        1     2     3     4    5     6     7     8     9     10    11    12
0    14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1    13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2    13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3    14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4    13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93
..     ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...
137  12.53  5.51  2.64  25.0   96  1.79  0.60  0.63  1.10  5.00  0.82  1.69
138  13.49  3.59  2.19  19.5   88  1.62  0.48  0.58  0.88  5.70  0.81  1.82
139  12.84  2.96  2.61  24.0  101  2.32  0.60  0.53  0.81  4.92  0.89  2.15
140  12.93  2.81  2.70  21.0   96  1.54  0.50  0.53  0.75  4.60  0.77  2.31
141  13.36  2.56  2.35  20.0   89  1.40  0.50  0.37  0.64  5.60  0.70  2.47

[142 rows x 12 columns]

In [4]:
X_train.std()

1      0.856399
2      0.954317
3      0.288994
4      3.372169
5     15.000411
6      0.587232
7      0.859427
8      0.119419
9      0.571936
10     1.597937
11     0.181971
12     0.588968
dtype: float64

In [8]:
X_train.describe().T

    count       mean        std    min      25%     50%       75%     max
1   142.0  12.933028   0.856399  11.03  12.2900  12.870   13.6775   14.83
2   142.0   2.055634   0.954317   0.74   1.5100   1.730    2.2725    5.80
3   142.0   2.346620   0.288994   1.36   2.1925   2.335    2.5375    3.23
4   142.0  18.958451   3.372169  10.60  16.8000  18.800   21.0000   30.00
5   142.0  99.683099  15.000411  70.00  88.0000  98.000  107.0000  162.00
6   142.0   2.445634   0.587232   1.10   2.0000   2.500    2.8600    3.88
7   142.0   2.344014   0.859427   0.47   1.7500   2.475    2.9800    5.08
8   142.0   0.339577   0.119419   0.13   0.2600   0.310    0.4150    0.66
9   142.0   1.679014   0.571936   0.41   1.3500   1.660    1.9800    3.58
10  142.0   4.279859   1.597937   1.28   2.9100   4.150    5.4225    8.90
11  142.0   1.033915   0.181971   0.66   0.9070   1.040    1.1575    1.71
12  142.0   2.846690   0.588968   1.27   2.5325   2.905    3.2600    4.00